<img src="{{ site.baseurl }}assets/imgs/makina-corpus.png" class="img-thumbnail"/>
<div class="panel panel-default">
  <div class="panel-heading">R&eacute;seaux sociaux</div>
  <div class="panel-body">
    <ul class="nav">
        <li><a href="https://plus.google.com/108081526147163911190?rel=author" rel="publisher"><i class="icon-google-plus"></i>Google+</a></li>
        <li><a href="https://www.twitter.com/toutpt_nantes"><i class="icon-twitter"></i>Twitter (Anglais)</a></li>
        <li><a href="https://www.twitter.com/toutpt_nantes"><i class="icon-twitter"></i>Twitter (Français)</a></li>
        <li><a href="http://www.linkedin.com/profile/view?id=42808053"><i class="icon-linkedin"></i>Linkedin</a></li>
        <li><a href="http://stackoverflow.com/users/622081/toutpt"><i class="icon-stackexchange"></i>Stack</a></li>
        <li><a href="https://github.com/toutpt"><i class="icon-github-alt"></i>Github</a></li>
        <li><a href="http://www.doyoubuzz.com/jeanmichel-francois/"><i class="icon-user"></i>Doyoubuzz (CV)</a></li>
        <li><a href="http://plone.org/author/toutpt">Plone</a></li>
    </ul>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Articles</div>
  <div class="panel-body">
     <ul class="nav nav-pills nav-stacked">
       {% for post in site.posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
       {% endfor %}
     </ul>
  </div>
</div>
