<div class="masthead">
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a href="/" class="navbar-brand">Accueil / blog</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="https://www.twitter.com/toutpt_fr"><i class="fab fa-twitter"></i> Twitter</a></li>
        <li class="nav-item"><a class="nav-link" href="http://www.linkedin.com/profile/view?id=42808053"><i class="fab fa-linkedin"></i> Linkedin</a></li>
        <li class="nav-item"><a class="nav-link" href="http://stackoverflow.com/users/622081/toutpt"><i class="fab fa-stack-overflow"></i> Stack</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/toutpt"><i class="fab fa-github-alt"></i> Github</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/jmfrancois"><i class="fab fa-github-alt"></i> Github (Talend)</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.npmjs.com/~toutpt"><i class="fab fa-npm"></i> NPM</a></li>
      </ul>
      <ul class="navbar-nav">
        <li {% if page.slug == "about" %} class="nav-item active"{% endif %}>
          <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://www.doyoubuzz.com/jeanmichel-francois">CV (frontend react Nantes)</a>
        </li>
      </ul>
</nav>
</div>