<div class="card card-default mb-3">
  <div class="card-body">
    <div class="card-title">Jean-Michel FRANCOIS</div>
    <p>Actuellement je travaille pour <a href="https://talend.com">Talend</a> en tant qu' Architect frontend</p>
    <img src="{{ site.baseurl }}/assets/imgs/profile-small.jpg" class="img-thumbnail"/>
    <img src="{{ site.baseurl }}/assets/imgs/talend.jpg" class="img-thumbnail"/>
  </div>
</div>
<div class="card card-default">
  <div class="card-body">
    <div class="card-title">Tags</div>
     <ul class="list-unstyled">
        {% for tag in site.tags %}
          {% assign t = tag | first %}
          {% assign posts = tag | last %}
          <li>{{t | downcase | replace:" ","-" }} has {{ posts | size }} posts</li>
        {% endfor %}
      </ul>

  </div>
</div>
