<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
   <div class="container">
    {% include nav-main.html %}

      <div class="row">
        <div class="col-md-3">
          <div class="sidebar d-print-none" role="complementary">
            {% include side.html %}
          </div>
        </div>
        <div class="col-md-9" role="main">
          <h1 class="card-title">{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
  <script>
  (function () {
    function createTitle(t) {
        var li = document.createElement('li');
        var a = document.createElement('a');
        li.appendChild(a);
        a.setAttribute('href', '#' + t.id);
        a.textContent = t.textContent;
        return li;
    }
    var tocElement = document.getElementById('toc');
    var h2s = tocElement.parentElement.parentElement.parentElement.getElementsByTagName('h2');
    for (var i = 0; i < h2s.length; i++) {
        tocElement.appendChild(createTitle(h2s[i]));
    }
})();
  </script>
  </body>
</html>
