<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
   <div class="container">
    {% include nav-main.html %}

      <div class="row">
        <div class="col-md-3">
          <div class="sidebar d-print-none" role="complementary">
            {% include side.html %}
          </div>
        </div>
        <div class="col-md-9" role="main">
            {{ content }}
        </div>
      </div>
    </div>


    {% include footer.html %}
   </div>
  </body>
</html>
